@media print {
	
	.tm-team-description-container {
		max-width: 100%;
	}

	.tm-main-content h2.tm-section-title {
		text-align: center; 
		text-transform: uppercase;
	}

	.tm-main-content, .tm-banner {
		padding-top: 0;
	}

	.tm-main-content, .tm-content-box {
		margin-bottom: 0;
	}

	.tm-team-description-container p.tm-section-description {
		text-align: center;
	}
	
	.tm-team-img, #about, .tm-sidebar, .blocks .tm-content-box, section.tm-content-box:last-of-type, ol.carousel-indicators {
		display: none;
	}

	.padding-medium, #tmCarousel {
		padding: 0
	}

	section.heading .padding-medium {
		margin-top: 20px;
	}

	#tmCarousel {
		margin-top: 40px;
	}

	section.tm-content-box > div.padding-medium > h2 {
		color: lightskyblue;
		font-weight: 300;
		text-align: center;
	}

	section.tm-content-box > div.padding-medium > ol {
		list-style-type: none;
		width: 45%;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
	}

	section.tm-content-box > div.padding-medium > ol li:nth-child(odd) {
		text-align: right;
	}

	.blocks > .tm-team-description-container p:last-child {
		word-spacing: 10px;
		font-style: italic;
		letter-spacing: 6px;
	}

	#tmCarousel p, .blocks > .tm-team-description-container p:first-of-type {
		width: 88%;
		margin-left: auto;
		margin-right: auto;
	}
	
}

.tm-nav-item-link:hover {
	background-color: lightskyblue;
	color: white;
}

.tm-banner {
	background: linear-gradient(to right, lightskyblue, burlywood);
}

.tm-banner-inner {
	background-color: #fff;
}

.tm-banner-text {
	text-shadow: 3px 1px 2px #333;
	animation: bannerTextAnimation 3s ease;
}

@keyframes bannerTextAnimation {

	from {
		position: relative;
		left: 200px;
		/*margin-left: 200px;*/
	}

	to {
		position: relative;
		left: 0;
		/*margin-left: 0;*/
	}
}

.flex-2-col {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.flex-2-col h2 {
	text-align: center;
}

.tm-section-description {
	text-indent: 25px;
}

.box-bg:hover {
	background-color: lightgrey;
}

h2.tm-section-title:hover {
	font-style: italic;
	font-weight: 400;
}

.heading h2 {
	color: lightskyblue;
	text-align: center;
}

.heading ol {
	list-style: lower-alpha;
}

.heading ol li:hover::before {
	content: '>';
	font-weight: bold;
}

.heading ol li > a.text::after {
	content: 'New';
	color: red;
	display: inline-block;
	position: relative;
	top: -8px;
    font-variant: small-caps;
    font-size: 12px;
    font-weight: 600;
}