@media print {
	
	.tm-team-description-container {
		max-width: 100%;
	}

	.tm-main-content h2.tm-section-title {
		text-align: center; 
		text-transform: uppercase;
	}

	.tm-main-content, .tm-banner {
		padding-top: 0;
	}

	.tm-main-content, .tm-content-box {
		margin-bottom: 0;
	}

	.tm-team-description-container p.tm-section-description {
		text-align: center;
	}
	
	.tm-team-img, #about, .tm-sidebar, .blocks .tm-content-box, section.tm-content-box:last-of-type, ol.carousel-indicators {
		display: none;
	}

	.padding-medium, #tmCarousel {
		padding: 0
	}

	section.heading .padding-medium {
		margin-top: 20px;
	}

	#tmCarousel {
		margin-top: 40px;
	}

	section.tm-content-box > div.padding-medium > h2 {
		color: lightskyblue;
		font-weight: 300;
		text-align: center;
	}

	section.tm-content-box > div.padding-medium > ol {
		list-style-type: none;
		width: 45%;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
	}

	section.tm-content-box > div.padding-medium > ol li:nth-child(odd) {
		text-align: right;
	}

	.blocks > .tm-team-description-container p:last-child {
		word-spacing: 10px;
		font-style: italic;
		letter-spacing: 6px;
	}

	#tmCarousel p, .blocks > .tm-team-description-container p:first-of-type {
		width: 88%;
		margin-left: auto;
		margin-right: auto;
	}
	
}